@model Electronics_Store.Areas.ProductArea.Models.Stock

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/ProductArea/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InitialUnits" class="control-label"></label>
                <input asp-for="InitialUnits" class="form-control" />
                <span asp-validation-for="InitialUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableUnits" class="control-label"></label>
                <input asp-for="AvailableUnits" class="form-control" />
                <span asp-validation-for="AvailableUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerUnit" class="control-label"></label>
                <input asp-for="CostPerUnit" class="form-control" />
                <span asp-validation-for="CostPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommendedSalePricePerUnit" class="control-label"></label>
                <input asp-for="RecommendedSalePricePerUnit" class="form-control" />
                <span asp-validation-for="RecommendedSalePricePerUnit" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
